@import url(//db.onlinewebfonts.com/c/6ecff1acfc72a3653c6b2ff78e7f6b9c?family=Apple+Symbols);
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', 'Noto Sans', 'Work Sans', sans-serif;
    color: whitesmoke;
}

body {
    background-color: rgb(15, 15, 15);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

em {
    color: rgb(250, 16, 250);
}

h1 {
    color: whitesmoke;
}

li {
    list-style-type: none;
}

em.about {
    color: rgb(126, 145, 18);
}

emphasis {
    /* color: rgba(236, 86, 0, 0.979); */
    color: rgb(255, 158, 13);
    font-weight: 220;
    font-size: .95em;
}

.header-item {
    margin: 15px 60px 15px 0px;
    transition: all .2s ease-in-out;
    opacity: 1;
}

.header-item:hover {
    color: rgb(255, 158, 13);
    transform: scale(1.02);
}

#background-layer {
    margin-left: calc(50vw - 50px);
    width: calc(95vw - 650px);
    margin-top: 60px;
    height: calc(100vh - 150px);
    position: fixed;
    background-image: url('./images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 20%;
    transition: opacity .5s ease-in;
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    width: calc(90vw);
    color: rgb(245, 245, 245);
    font-size: 16px;
    padding-left: calc(6vw - 30px);
    background-color: rgb(15, 15, 15);
    opacity: .85;
    z-index: 20;
    transition: opacity .2s ease-in;
    border-bottom: 1px solid thistle;
}

#navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 10px 55px 15px 0;
}

#contact {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-left: calc(40vw - 600px);
}

#home {
    margin-left: 0px;
}

#content-area {
    padding-left: calc(6vw - 30px);
    display: flex;
    flex-direction: column;
    width: calc(350px + 11vw);
    justify-content: flex-end;
    padding-top: 10vh;
}

#page-wrapper {
    padding-top: 30px;
    color: whitesmoke;
    padding-bottom: 30px;
}

/* Page content */

/* Home Page */

h2 {
    font-weight: 500;
}

p {
    padding: 10px 0 0 0;
}

.small-heading {
    padding-bottom: 30px;
    font-size: 2em;
}

.large-heading {
    padding-bottom: 20px;
    font-size: 3.5em;
}

.main-text {
    font-size: 1.2em;
    color: rgba(245, 245, 245, 0.788);
    line-height: 1.6;
}

.inline-link {
    margin: 20px 0px 20px 0px
}

/* about page */

.about-text {
    font-size: 1.1em;
    color: rgba(245, 245, 245, 0.87);
    line-height: 1.4;
    margin: 10px 0 10px 0;
}

#heading-wrapper {
    display: flex;
    flex-direction: column;
}

#about-heading {
    padding-bottom: 20px;
    font-size: 3em;
}

#about-heading2 {
    font-size: 1.5em;
    margin-top: 20px;
}

/* work page */

#skills-section {
    display: flex;
    justify-content: space-between;
    opacity: .95;
    padding: 0px 50px 0px 0px;
    border-radius: 5%;
}

#skills-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 0;
}

.list-header {
    color: rgb(240, 37, 240);
}

/* Play Page */

#play-wrapper {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    line-height: 1.3;
}

#smallprint {
    font-size: .6em;
    padding: 5px;
}

/* Media Queries */

@media screen and (max-width:850px) {
    #background-layer {
        opacity: 0;
    }
}

@media screen and (max-width:775px) {
    #header {
        opacity: 0;
    }
}

@media screen and (max-width:768px) {
    #background-layer {
        visibility: hidden;
    }
    #header {
        visibility: hidden;
    }
}

/* animations */

@keyframes slidein {
    0% {
        transform: translateX(10%);
        transform: translateY(12%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        transform: translateY(0%);
    }
}

.slidein {
    animation: slidein 1.5s;
}

@keyframes slideup {
    0% {
        transform: translatex(-50%) translatey(50%);
        opacity: 0;
    }
    100% {
        transform: translatex(0%) translateY(0%);
        opacity: 1;
    }
}

.slideup {
    animation: slideup 1s;
}

@keyframes panin {
    0% {
        width: calc(95vw - 500px);
    }
    40% {
        width: calc(95vw - 800px)
    }
    100% {
        width: calc(95vw - 650px);
    }
}

.panin {
    animation: panin 1.5s
}

.rotatein {
    animation: rotatein 1.5s
}

@keyframes rotatein {
    0% {
        transform: translatex(200%) translatey(15%) rotate(20deg);
    }
    100% {
        transform: translatex(0px) translatey(0px)
    }
}

.fadein {
    animation: fadein 1s
}

@keyframes fadein {
    0% {
        transform: translatex(-200%) translatey(15%) rotate(20deg);
    }
    100% {
        transform: translatex(0px) translatey(0px)
    }
}

.fadeout {
    animation: fadein 1.5s
}

@keyframes fadeout {
    0% {
        transform: translatex(200%) translatey(15%) rotate(50deg);
    }
    100% {
        transform: translatex(0px) translatey(0px)
    }
}